@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  height: 100%;
  padding: 0px;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.container div {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
/*------------------------- header -------------------------- */

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 99%;
  box-shadow: 0px 10px 8px 0px #c2c1c1;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 400px;
}
input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
  border-radius: 100px;
  background-color: #e6ecf2;
  width: 712px;
}
.left {
  display: grid;
  gap: 20px;
  text-align: left;
}
.right {
  display: grid;
  gap: 40px;
}
.heading-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img[alt='search-logo'] {
  position: relative;
  top: 5px;
}
.base-logo {
  width: 4rem;
}
img.float {
  width: 100px;
}
/* ------------------ sidebar ----------------- */
.sidebar {
  background-color: #60a5fa;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.first-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.last-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sublogo {
  position: relative;
  left: 30px;
  display: flex;

  flex-direction: row;
  gap: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
}
/*----------------------------- Articale----------------------- */
.article {
  background-color: #e6ecf2;
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  padding-left: 20px;
}

.art-box-2 {
  margin-top: 0px;
  display: grid;
  row-gap: 10px;
}
.s-logo {
  width: 2rem;
}

.button {
  background-color: #5ba3fb;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.button:hover,
.button:focus {
  background-color: #90bff8;
}
.box {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  gap: 10px;
  box-shadow: 0px 15px 10px -15px #111;
}
.box-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  row-gap: 40px;
  height: 90%;
}
.boxes {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  gap: 10px;
  box-shadow: 0px 15px 10px -15px #111;
}
.vl {
  border-left: 6px solid #5ba3fb;
  height: 100%;
  float: left;
  border-radius: 10px;
}
.txt-box {
  width: 300px;
  position: relative;
  left: 20px;
  top: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 170px;
  top: 50px;
  gap: 30px;
}
span {
  font-size: 20px;
  position: relative;
  left: -120px;
}
#Announcement {
  font-size: 20px;
  position: relative;
  left: -90px;
}
.article p {
  font-size: 12px;
  color: #a3a3a3;
}
.box .title {
  font-size: 18px;
}
.Avatar {
  width: 50px;
  border-radius: 500px;
}
.box-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.latest {
  display: grid;
  row-gap: 20px;
  place-items: start;
}
.cpt {
  display: flex;
  flex-direction: column;
}

hr {
  margin-top: 15px;
  margin-bottom: 12px;
}
#project {
  position: relative;
  left: -435px;
}
